.buttonIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  /* background: black; */
  color: white;
  border: 1px solid red;
  border-radius: 4px;
  opacity: 0.75;
  transition: 0.5s;

  &:hover {
    opacity: 1;
    background: white;
    color: black;
    border: 1px solid green;
    scale: 1.1;
  }

  &:active {
    scale: 1.05;
  }

  &:disabled {
    opacity: 0.5;
  }
}
