@import "../../Global/Neon.scss";

$WHITE: #fff;
$RED_BASE: #f00;
$RED_OPACITY: rgba(255, 0, 0, 0.5);

.container {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1,
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    @include neon-text($RED_BASE, $WHITE);
    transition: 0.25s;
    animation: neonAnimation 2s infinite;
  }

  h1 {
    font-size: 75px;
  }

  h2 {
    font-size: 40px;
  }
}

@keyframes neonAnimation {
  0%,
  40%,
  60%,
  100% {
    @include neon-text($RED_BASE, $WHITE);
  }
  50% {
    @include neon-text($RED_OPACITY, #878787, #ffffff);
  }
}
